.card {
    width: 500px;
    height: 130px;
    border-radius: 6px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    overflow: hidden;
    margin: 5px;
  }
  
  .card:hover {
    height: 300px;
    background: linear-gradient(360deg, #fdfdfd 60%, hsla(0, 0%, 13%, 1) 70%);
  }
  
  .card .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3c8bca;
    margin-bottom: 16px;
  }
  
  .card .header .img-box{
    width: 50px;
    height: 70px;
  }
  .card .header .title {
    font-size: 16px;
    letter-spacing: .1em;
    font-weight: 500;
    text-transform: uppercase;
    padding: 4px 0 14px 0;
    transition: all .5s;
    color: #fff;
  }
  
  .card1:hover .header{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 96%);
  }
  
  .card:hover .card .header .title {
    padding: 0;
  }
  
  .card .content {
    display: block;
    text-align: justify;
    color: #000;
    margin: 0 18px;
  }
  
  .card .content p {
    transition: all .5s;
    font-size: 1em;
    margin-bottom: 8px;
  }

  @media screen and (max-width: 767px) {
    .card {
      background-color: lightgreen;
      width: 300px !important;
    }
  }