  #light {
    background-color: #fff;    
  }  
  #dark {
    background-color: #022b3d;
    color: #f3ebf6;
  }
  #light .main {
    background-color: #fff;
  }  
  #dark .main {
    background-color: #022b3d;    
  }
  #dark #super-header{
    background: #002739;
    color: #fff;
  }
  #light #nav-bg{
    background-color: #fff;
    color:#000;
      }
  #dark #nav-bg{
    background-color: #02162A;
    color:#fff;
  }
  #dark #desktop-nav-link{
    color: #fff;
  }
  #dark #mob-nav-link{
    color: #fff;    
  }
  ::selection {    
    background: #146994;
    color: #fff;
  }
  #dark ::selection {
    background-color: #fff;   
    color: #000; 
  }
  .switch {    
    width: 100vw;
    height: 100px; 
  }  
  .switch label {
    margin: 10px;
  }  
  #light .switch label {
    color: #000;
  }  
  #dark .switch label {
    color: #fff;
  }
 #dark #aboutme-txt-div{
  background-color: #02162A;
 }
 #dark #aboutme-div{
  background-color: #02162A;
 }
 #dark #footer{
  background-color: #02162A;
  color: #fff;
 }
 #dark #not-found-bg{
  background-color: #022b3d;
  color: #fff;
 }
 #dark #not-found-circle{
  background-color: #002739;
 }
 #dark #back-home-btn-not-found{
  background-color: #002739;
  color: #fff;
 }
#dark #contact-info{
  background-color: #02162A;
  color: #fff;
}
#dark #contact-info{
  background-color: #002739;
}
#dark #contact-us{
  background-color: #02162A;  
}
 #dark #my-contact-infos{
  background-color: #02162A;
 }
#dark #contact-info-email, #dark  #contact-info-phone, #dark #contact-info-socials{
  background-color: #333;
  color: #fff;
}
#dark #vission-div, #dark #mission-div{
  background-color: #02162A;
}
#dark #about-plan-txt1, #dark #about-plan-txt2{
  background-color: #02162A;
}
#dark .card .header{
  background-color: #02162A;
}