::-webkit-scrollbar {
    width: 20px;   
    border: 1px solid #fff;   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff; 
    background-color: #eae7f0;    
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #195994;    
    box-shadow: inset;  
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #196094;    
  }

  #form-container{
    transform: scale(0.9);    
  }

@media (max-width: 640px) {
  #form-container{
    transform: scale(0.75);  
    margin-left: -12px;  
    margin-top: -70px;
  }
}
@media (min-width: 100px) {
  #texts {
      font-size: 40px;
      line-height: 44px;
  }
}